@model Survey.Entities.YesNoAnswer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>YesNoAnswer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAccepted" /> @Html.DisplayNameFor(model => model.IsAccepted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserComment" class="control-label"></label>
                <input asp-for="UserComment" class="form-control" />
                <span asp-validation-for="UserComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YesNoQuestionId" class="control-label"></label>
                <select asp-for="YesNoQuestionId" class="form-control" asp-items="@(IEnumerable<SelectListItem>)ViewBag.Items"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

