@model Survey.Entities.Poll;

@{
   
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text text-success">Oy verildi</p>
     
    </div>
</div>